<!DOCTYPE html>
<html>
<head>
  <title>LtiGoogleDocs</title>
  <%= stylesheet_link_tag    "lti_google_docs/application", media: "all" %>
  <%= javascript_include_tag "lti_google_docs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<h1>Application layout</h1>
</body>
</html>
