<div ng-app="LTI_GOOGLE_DOCS">
    <div class="container" id="google-lti-body" ng-controller="RequestConfirmedCtrl">
        <div class="jumbotron">
        <%=  @confirmation_message %>
        </div>
        <br/>
        <button class="btn btn-lg btn-success pull-right" ng-click="closeWindow()">Click To Close Window</button>
    </div>
</div>