<div ng-app="LTI_GOOGLE_DOCS">
    <div class="container" id="google-lti_body" ng-controller="RequestConfirmedCtrl">
        <div class="jumbotron">
            <h1>Thank You</h1>
            <p>"The Google access token has been saved! Thank you for your cooperation! Your window will close in 5 seconds. If you wish to close it sooner, click the green button below. You will need to reload the page, once this window closes."</p>
        </div>
        
        <button class="btn btn-lg btn-success pull-right" ng-click="closeWindow()">Click To Close Window</button>
    </div>
</div>