<%= javascript_include_tag "https://apis.google.com/js/client.js?" %>

<%= javascript_tag do %>
    window.open('launch/auth', 'LTI Authentication', "height=400, width=400")
<% end %>

<div ng-app='LTI_GOOGLE_DOCS'>
    <div class="container"  ng-controller='MainCtrl'>
        <!-- begin editable content -->
        
        <div class="header">
        	<h3 class="text-muted"> Google Doc LTI Tool</h3>
        	<hr>
        </div>

        <div class="jumbotron">
			<h1>Google Doc LTI Tool 
                
            </h1>
			<span class="lead">Top 5 Files from Drive: </span>

            <accordion>
                <accordion-group ng-repeat="item in items" heading={{item.title}}>
                    {{item.title}}
                </accordion-group>
            </accordion>
        </div>
        
        <div class="footer">
        	<hr>
        	<p> There Labs - University of Missouri (Copyright 2014)</p>
        </div>
    
        
        <!-- end editable content -->
    </div>
</div>
