<%= javascript_include_tag "https://apis.google.com/js/client.js?" %>


<div ng-app='LTI_GOOGLE_DOCS'>
    <div id='google-lti-body' class="container"  ng-controller='MainCtrl'>

            <tabset>
                <tab heading="Start Here">
                    Start here.
                </tab>
            </tabset>
        <div class="footer">
        	<hr>
        	<p> There Labs - University of Missouri (Copyright 2014)</p>
        </div>
    
        
        <!-- end editable content -->
    </div>
</div>
