<div ng-app="LTI_GOOGLE_DOCS">
    <div ng-controller="LabInstancesCtrl">
        <tabset>
            <tab heading="one">First</tab>
            <tab heading="two">Second</tab>
            <tab heading="three">Third</tab>
        </tabset>
    </div>
</div>