<div ng-app="LTI_GOOGLE_DOCS">
    <div id="google-lti-body" class="container" ng-controller="AccountInfoCtrl">
        <div class="jumbotron">
            <h1>Account Information</h1>
            <div class="form-group row">
                <div class="col-lg-5">
                    <label for="org-name">Organization Name</label>
                </div>
                <div class="col-lg-5">
                    <input tooltip="The name of your organization" tooltip-placement="left" type="text" class="form-control" id="org-name" placeholder="Mizzou K12" ng-model="form.client_name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-5">
                    <label for="canvas-url">Canvas URL</label>
                </div>
                <div class="col-lg-5">
                    <input tooltip="The address you type in your browser to log into Canvas" tooltip-placement="left" type="text" class="form-control" id="canvas-url" placeholder="http://www.my-school.edu/Canvas" ng-model="form.canvas_url">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-5">
                    <label for="canvas-clientid">Canvas ClientID</label>
                </div>
                <div class="col-lg-5">
                    <input tooltip="The number your Canvas instance generated for use with this LTI." tooltip-placement="left" type="text" class="form-control" id="canvas-clientid" placeholder="Really long number" ng-model="form.canvas_clientid">
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-lg-5">
                    <label for="canvas-client-secret">Canvas Client Secret</label>
                </div>
                <div class="col-lg-5">
                    <input tooltip="The really long piece of text your Canvas instance generated for you, for use with this LTI" tooltip-placement="left" type="text" class="form-control" id="canvas-client-secret" placeholder="Even longer number" ng-model="form.canvas_client_secret">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-5">
                    <label for="contact-email">Contact Email Address</label>
                </div>
                <div class="col-lg-5">
                    <input tooltip="An email address we can use to contact you in case something goes wrong" tooltip-placement="left" type="text" class="form-control" id="contact_email" placeholder="admin@my-school.edu" ng-model="form.contact_email">
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-lg-2">
                    <label>LTI Client ID:</label>
                </div>
                <div class="col-lg-8" tooltip-placement="top" tooltip="The person configuring your Canvas server to use this tool will enter this in the Consumer Key textbox">
                    {{form.client_id}}
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2">
                    <label>LTI Client Secret:</label>
                </div>
                
                <div class="col-lg-8" tooltip-placement="bottom" tooltip="The person configuring your Canvas server to use this tool will enter this in the consumer secret textbox">
                    {{form.client_secret}}
                </div>
            </div>
            
            <button type="button" class="btn btn-lg btn-primary pull-right" ng-click="updateAccountInfo()">Update!</button>
            <br/>
            <h1><i class="fa fa-spinner fa-spin"></i></h1>
            
            <%= hidden_field_tag 'client_id', @c.id%>
        </div>
    </div>
</div>