<div ng-app="LTI_GOOGLE_DOCS">
    <div id="google-lti-body" class="container" ng-controller="DesignerGroupLabCtrl">
        <input type="hidden" id="lab-id" value="<%=@lab.id%>">
        <input type="hidden" id="api-token" value="<%=@api_token%>">
        Lab Info: <%=@lab.title%>, <%=@lab.folderName%>,
        <hr/>
        
        
        <accordion>        
            <accordion-group ng-repeat="group in groups">
                <accordion-heading>
                    {{group.name}}
                </accordion-heading>
                
                
                Lab Files:
                <div ng-repeat="file in group.fileIDs">
                    <a href="https://docs.google.com/document/d/{{file}}/edit">Go To Drive View</a>
                </div>
                
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Student</th> <th>Last Accessed</th>
                    </tr>
                    
                    <tr ng-repeat="student in group.students">
                        <td>{{student.email}}</td><td> - </td>
                    </tr>
                </table>
            </accordion-group>
        </accordion>
        
    </div>
</div>