<div ng-app="LTI_GOOGLE_DOCS">
    <div id="google-lti-body" class="container" ng-controller="NonStudentLabCtrl">
        <!-- content here -->
    
        {{welcome_message}}
        
        
    
        <!-- end content -->
    </div>
</div>