<%= javascript_include_tag "https://apis.google.com/js/client.js?" %>


<div ng-app='LTI_GOOGLE_DOCS'>
    <div id='google-lti-body' class="container"  ng-controller='FactoryCtrl'>
        <!-- begin editable content -->

            <tabset>
                <tab heading="Create!">
                    <div class="jumbotron">
                        <h3>Lab Creator</h3><br/>
                        <div class="form-group row">
                            <div class="col-lg-5">
                                <label for="lab-name" class>Lab Title</label>
                            </div>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" id="lab-name" placeholder="Newtonian Physics 2" ng-model=form.labName>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-5">
                                <label for="lab-template">Template Folder on Google Drive</label>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="lab-template" ng-model="form.templateFolderName">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="selectFolderFromDrive()">Choose!</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5">
                                <label>Choose Individual or Group Participation</label>
                            </div>
                            <div class="col-lg-5">
                                <div class="btn-group">
                                    <label class="btn btn-primary" ng-model="form.participationModel" btn-radio="'Individual'">Individual</label>
                                    <label class="btn btn-primary" ng-model="form.participationModel" btn-radio="'Group'">Group</label>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-lg btn-success pull-right" ng-click="createLab()">Create Lab!</button>
                    </div>
                </tab>
                <tab heading="See All">
                    
                    <div class="jumbotron" ng-show="form.labs.length < 1">
                        There does not appear to be any labs yet.
                    </div>
                    
                    
                    <table class="table table-hover" ng-show="form.labs.length > 0">
                        
                        <th>Lab Name</th><th>Template Folder</th><th>Participation</th>

                        <tr ng-repeat="lab in form.labs" ng-click="labClick(lab)" >
                            <td>{{lab.title}}</td>
                            <td>{{lab.folderName}}</td>
                            <td>{{lab.participation}}</td>
                            <td><button type="button" class="close" aria-hidden="true" ng-click=deleteLab(lab.id)>&times</button></td>

                        </tr>
                    </table>
                    <br/><br/>
                    
                    <div class="jumbotron" ng-show="form.labInstances.length < 1">
                        There does not appear to be any lab instances yet.
                    </div>
                    <table class="table table-hover" ng-show="form.labInstances.length > 0">
                        <th>Lab Instance</th> <th> Lab ID</th> <th>Student ID</th> <th>Student's Folder ID On Drive</th>
                        <tr ng-repeat="li in form.labInstances">
                            <td>{{li.id}}</td>
                            <td>{{li.labid}}</td>
                            <td>{{li.studentid}}</td>
                            <td>{{li.fileid}}</td>
                            <td><button type="button" class="close" aria-hidden="true" ng-click=deleteLabInstance(li.id)>&times</button></td>
                        </tr>
                    </table>
                    
                </tab>
                <tab ng-repeat="lab in form.labViews">
                    <tab-heading>
                        {{lab.title}} <i class="glyphicon glyphicon-remove" ng-click="removeLabView(lab.id)"></i> 
                    </tab-heading>
                </tab>
            </tabset>
            
        <div class="footer">
        	<hr>
        	<p> There Labs - University of Missouri (Copyright 2014)</p>
        </div>
    
        <script type="text/ng-template" id="FileChooser.html">
            <div class="modal-header">
                <h3 class="modal-title">Choose File!</h3>
            </div>
            
            <div class="modal-body">
                <select name="someText" data-ng-attr-size="{{itemsToChooseFrom.length}}">
                    <option ng-repeat="item in itemsToChooseFrom" ng-click="selectFolder(item)">{{item}}</option>
                </select> 
            </div>
            
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-secondary" ng-click="cancel()">Cancel</button>
            </div>
            
        </script>
        
        <!-- end editable content -->
    </div>
</div>